Flask==2.0.1
Flask-SQLAlchemy==2.5.1
PyMySQL==1.0.2
python-dotenv==0.19.0
pyodbc>=4.0.39
Werkzeug==2.0.3
SQLAlchemy==1.4.46
Flask-Caching==2.0.2
waitress==2.1.2 
flask_migrate==4.0.4
flask_cors==4.0.0
python-docx>=0.8.11
pywin32==306
bcrypt==4.0.1
loguru==0.7.2
urllib3==2.0.7
python-dateutil==2.8.2