<!-- 头部资源组件 - CSS和JavaScript引用 -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page_title | default('智能绿建评价系统') }}</title>
<script defer src="/static/js/libs/alpine.min.js"></script>
<script src="{{ url_for('static', filename='js/climate_zone.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.min.css') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/greenscore-sm.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='image/greenscore-32.png') }}">
<link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='image/greenscore.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='image/greenscore-lg.png') }}">
<script src="{{ url_for('static', filename='js/word_template_handler.js') }}" defer></script>
<script src="/static/js/green_building_score_calculator.js"></script>
<link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/icon-compatibility.css') }}">
<link rel="prefetch" href="{{ url_for('static', filename='fonts/remixicon.woff2') }}" as="font" type="font/woff2" crossorigin>
<script src="/static/js/menu.js"></script>
<script src="/static/js/libs/chart.min.js"></script>